<!DOCTYPE html>

<html>
  <head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-1.2.0.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/prettify.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js">
    <script>
    	if(jQuery = 'undefined'){
    		document.write(unescape("%3Cscript src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"%3E%3C/script%3E"));
    	}
    </script>
    <script type="text/javascript" src="@{'/public/javascripts/prettify.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/application.js'}"></script>
  	</head>
  	<body>
		<div class="topbar">
	    	<div class="topbar-inner">
		      	<div class="container">
		        	<h3><a href="/">Effort Management System</a></h3>
		        	<ul class="nav">
		          	<li><a href="/administration">Administration</a></li>
		          	<li><a href="/research">Research</a></li>
		          	<li><a href="/teaching">Teaching</a></li>
		          	#{secure.check 'admin'}
		          		<li><a href="/reports">Reports</a></li>
		          	#{/secure.check}
		        	</ul>
		        	#{secure.check 'admin'}
			        	<ul class="nav secondary-nav">
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle">Manage</a>
			              <ul class="dropdown-menu">
			                <li><a href="@{Users.list()}">Staff</a></li>
			                <li class="divider"></li>
			                <li><a href="@{Dutys.list()}">Duties</a></li>
			                <li class="divider"></li>
			                <li><a href="@{Qualifications.list()}">Qualifications</a></li>
			              </ul>
			            </li>
			          </ul>
			          #{/secure.check}
	        		<span class="logout"><a href="@{Secure.logout()}">Logout</a></span>
		      	</div>
	    	</div>
	  	</div>
	  	<div class="container content">       
			#{doLayout /}
		</div>
	</body>
</html>
